{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="wrapper">
        <h2>Amiee URL Shortener</h2>
        <form action="{% url "shorten_post" %}" method="post">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" placeholder="Enter URL" name="url">
            </div>
            <div class="input-box button">
                <input type="submit" value="Shorten">
            </div>
            <div class="text">
                <h5>
                    <span style="color:#4070f4">Dear User:</span> 
                    Welcome, Enter your url and click shorten
                </h5>
            </div>
        </form>
    </div>
    
{% endblock %}